

{% extends "base.html" %}

{% block content %}

{% load static %}

      

<div class="main-panel">
  <div class="content-wrapper">
    
    <div class="card">
      <div class="card-body">
       

        {% include "merchant_button.html" %}
        <br>
        <br>

        <h4 class="card-title">Terminal <span style="color:pink"> Information </span></h4>
        <div class="table-container" style="max-height: 80vh; overflow-y: auto;">
            <table class="table">
                <thead class="thead-fixed" >
                    <tr>
                        <th>Terminal ID</th>
                        <th>Supported Card Scheme</th>
                        <th>Assigned Branch</th>
                        <th>Payment Account Number</th>
                        <th>Payment Account IBAN</th>
                        <th>Payment Bank</th>
                    </tr>
                </thead>
                <tbody class="tbody-scroll" >
                    {% for terminal_info in merchant_data.result.TERMINAL_INFO %}
                        <tr>
                            <td>{{ terminal_info.Terminal_ID }}</td>
                            <td>{{ terminal_info.Supported_Card_Scheme }}</td>
                            <td>{{ terminal_info.Assigned_Branch }}</td>
                            <td>{{ terminal_info.Payment_Account_Number }}</td>
                            <td>{{ terminal_info.Payment_Account_IBAN }}</td>
                            <td>{{ terminal_info.Payment_Bank }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
      </div>
    </div>
    </div>
  </div>
   
    
    


 <!-- Add more Sider ended -->



              
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
{% endblock %}
   
