

{% extends "base.html" %}

{% block content %}

{% load static %}

      

<div class="main-panel">
  <div class="content-wrapper">
    
    <div class="card">
      <div class="card-body">
       

   <h2> Transaction History </h2>

   <h4> No Data Found! </h4>

       <br>
      
       <br>
       <br>
       
       
      </div>
    </div>
    </div>
  </div>
   
    
    


 <!-- Add more Sider ended -->



              
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
{% endblock %}
   
